<div class="customizedToken row my-3">

    <ul>
        <li class="mt-2">Add more features 🏆 ✅</li>
        <li class="mt-2">Tailored for your project 🥇 ✅</li>
        <li class="mt-2">Great expertise in crypto/blockchain tech 👨‍💻 ✅</li>
        <li class="mt-2">Quick development time 🚀 ✅</li>
        <li class="mt-2">Affordable 💯 ✅</li>
        <li class="mt-2">Pay in crypto/paypal ☑️ ✅</li>
    </ul>

    <p class="hint1">
        <strong>Note:</strong> If you would like to have other types of token implemented on our website, tell
        us ! 👉🏻
        <a href="https://forms.gle/z9KsTohsfymsjmcL7">Submit request.</a>

    </p>
    <a href="https://t.me/TokenGeneratorBSC" class="btn btn-primary my-3" role="button" target="_blank"
        onclick="gtag('event','telegram')">Contact Us</a>
</div>
</div>